
.wapper{
    width: 1024px;
    margin: auto;
    padding: 0 20px;
}

.content{
    border: solid 1px #999;
    padding: 10px;
}

.page-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.header{
    background: #eee;
    padding: 20px;
}
.footer{
    background: #eee;
    padding: 20px;
}